{% extends 'base.html' %}
{% block title %}
تفاصيل المشروع {{project.ref_number}}
{% endblock %}
{% block content %}
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">تفاصيل المشروع {{project}}</h3>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end">
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item active "><a href="">{{project}}</a></li>
            <li class="breadcrumb-item"><a href="">كوارتر </a></li>
            <li class="breadcrumb-item d-flex align-items-center">Dashboard</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card card-body">
            <ul class="list-group">
                <li class="list-group-item"> رقم الطلب : <span class="text-primary">{{project.ref_number}}</span></li>
                <li class="list-group-item"> الاسم : <span class="text-primary">{{project.name}}</span></li>
                <li class="list-group-item"> الجوال :<span class="text-primary">{{project.phone_number}}</span></li>
                <li class="list-group-item"> الموقع : <span class="text-primary">{{project.address}}</span></li>
                <li class="list-group-item"> حالة الطلب : <span class="text-primary">{{project.get_status_display}}</span></li>
                <li class="list-group-item"> البائع : <span class="text-primary"><a href="{% url 'users:user_details' project.created_by.id %}">{{project.created_by}}</a></span></li>
                <li class="list-group-item">وقت الطلب : <span class="text-primary">{{project.created_at}}</span></li>
                <li class="list-group-item">اخر تحديث : <span class="text-primary">{{project.last_update}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="card card-body">
            <!-- edit -->
            <button class="btn btn-warning pointer" data-bs-target="#edit_project"
            data-bs-toggle="modal">تعديل بيانات المشروع</button>
            <!-- delete -->
            <button class="btn btn-danger my-2" data-bs-target="#project_delete_approve" data-bs-toggle="modal"> حذف المشروع </button>
            {% if project.status ==  'new' %}
            <form action="{% url 'quarter:start_negotiation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="project" value="{{project.id}}">
                <button class="btn btn-primary my-2 w-100"  type="submit">بداية المفاوضات  </button>
            </form>
            {% endif %}
            
        </div>
        {% if project.status == 'negotiation'%}
        <div class="card card-body">
            <h4>جاري التفاوض</h4>
            <p> بدء التفاوض  : {{project.negotiation_set.last.created_at}}</p>
            <p>بواسطة : {{project.negotiation_set.last.created_by}} </p>
            <div class="">
                <form action="{% url 'quarter:negotiation_status' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="project" value="{{project.id}}">
                    <input type="hidden" name="negotiation" value="{{project.negotiation_set.last.id}}">
                    <input type="hidden" name="status" value="approved">
                    <button class="btn btn-success my-1 w-100">موافقة</button>
                </form>
                <form action="{% url 'quarter:negotiation_status' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="project" value="{{project.id}}">
                    <input type="hidden" name="negotiation" value="{{project.negotiation_set.last.id}}">
                    <input type="hidden" name="status" value="rejected">
                    <button class="btn btn-danger  w-100">رفض</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% include './modals/project_modals.html' %}
{% endblock %}